@page "/"
<h3>Welcome to SolomikovPod Online Store</h3>
<p>Browse our products, manage your cart, and enjoy a seamless shopping experience.</p>

<div>
    <NavLink class="btn btn-primary" href="products">Browse Products</NavLink>
</div>
