@using SolomikovPod.Models
@page "/login"
@inject UserService UserService
@inject UserStateService UserStateService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<div>
    <label>Username:</label>
    <input @bind="Username" />
</div>
<div>
    <label>Password:</label>
    <input type="password" @bind="Password" />
</div>
<button @onclick="Login">Login</button>

<p>@Message</p>

@code {
    private string Username;
    private string Password;
    private string Message;

    private async Task Login()
    {
        try
        {
            // Создаем экземпляр LoginRequest
            var loginRequest = new LoginRequest
                {
                    Username = Username,
                    Password = Password
                };

            var user = await UserService.Login(loginRequest); // Передаем LoginRequest

            if (user != null)
            {
                UserStateService.SetCurrentUserId(user.Id); // Установка ID пользователя
                NavigationManager.NavigateTo("/products");
            }
            else
            {
                Message = "Invalid username or password.";
            }
        }
        catch (Exception ex)
        {
            Message = $"Login failed: {ex.Message}";
        }
    }



}
